@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;    
}
html, body{   
    height: 100%;
    width: 100%;
    font-family: 'Instrument Sans'
}
h3{
    font-weight: bold;
}
body::-webkit-scrollbar{
    display: none;
    background-color: white
}
nav{
    display: flex;
    justify-content: space-between;
    padding: 2vh 6vw;
    align-items: center;
    width: 100%;
}
nav h2{
    color: orange;
    font-size: 1.5rem;
    font-weight: bolder;
}
.navbar{
    display: flex;
    align-items: center;
}
.navbar a{
    text-decoration: none;
    padding-left: 40px;
    font-size: 1.090rem;
    color: black;
}
.contactbutton{
    background-color: orange;
    color: white;
    padding: 20px;
    border-radius: 50px;
    font-size: 1.090rem;
}
.hero{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin: 10vh 0 10vh 6vw ;
}
.hero h3{
    letter-spacing: -.031rem;
    font-size: 3.5rem;
    font-weight: 300;
}
.hero h1{
    color: orangered;
    letter-spacing: -.031rem;
    text-transform: uppercase;
    margin-top: 2rem;
    margin-bottom: 0;
    font-size: 11rem;
    font-weight: 400;
    line-height: .75;
    position: relative;
}
.hero p{
    color: rgba(0, 0, 0, 0.7);
    max-width: 48rem;
    margin-top: 4rem;
    font-size: 1.5rem;
    line-height: 1.6;
}
footer {
    position: relative;
}
footer a {
    font-size: 32px;
    text-decoration: none;
    color: black;
}
footer {
    position: relative;
    background-color: white;
    padding: 10vh 6vw;
    border-top: 2px solid black;

}
.upperfooter{
    background-color: white;
    align-items: flex-start;
    display: flex;
    gap: 20rem;
    padding-bottom: 40px;
    z-index: 2;
}
.contactlink h3{
    letter-spacing: -.031rem;
    margin-top: 0;
    margin-bottom: 1rem;
    font-size: 3rem;
    font-weight: 300;
    line-height: 1.15;
}
.contactlink a{
    text-decoration: none;
    color: black;
    font-size: 18px;
}
.linksG1{
    display: flex;
    flex-direction: column;
}
.linksG1 a{
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
    font-weight: 40;
    padding-bottom: 1.5rem;
}
.linksG2{
    display: flex;
    flex-direction: column;
}
.linksG2 a{
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
    font-weight: 40;
    padding-bottom: 1.5rem;
}
.lowerfooter h3{
    font-size: 56px;
    font-weight: lighter;
    width: 60%;
    margin-top: 100px;

}
.lowerfooter h1{
    color: orangered;
    letter-spacing: -.031rem;
    text-transform: uppercase;
    margin-top: 2rem;
    margin-bottom: 0;
    font-size: 11rem;
    font-weight: 400;
    line-height: .75;
    position: relative;
}
.lowerfooter p{
    font-size: 1.110rem;
    margin-top: 10vh;
}
.lowerfooter p a{
    color: orangered;
    font-size: 1.110rem;
}
@media screen and (max-width:600px) {

    .hero h3{
        width: 100%;
        font-size: 1.75rem;
    }
    .hero h1{
        font-size: 5rem;
    }
    .hero p{
        margin-top: 1.5rem;
        font-size: 1.25rem;
    }
    .upperfooter{
        flex-direction: column;
        gap: 0;
        padding-bottom: 0;
    }
    .contactlink h3{
        font-size: 2.25rem;
    }
    .contactlink{
        padding-bottom: 2rem;
    }
    
    .lowerfooter h3{
        width: 100%;
        font-size: 1.75rem;
    }
    .lowerfooter h1{
        font-size: 5rem;
    }
}