
.hero{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin: 10vh 6vh 0 6vw ;
}
.hero h3{
    letter-spacing: -.031rem;
    font-size: 3.5rem;
    font-weight: 300;
}
.hero h1{
    color: #EF4136;
    letter-spacing: -.031rem;
    text-transform: uppercase;
    margin-top: 2rem;
    margin-bottom: 0;
    font-size: 11rem;
    font-weight: 400;
    line-height: .75;
    position: relative;
}
.Image{
    padding-left: 6vw;
    width: 100%;
    overflow: hidden;
}
.Image img{
    width: 100%;
    object-fit: cover;
}
.work-ways{
    position: relative;
    margin: 10vh 6vw;
    grid-column-gap: 4rem;
    grid-row-gap: 4rem;
    grid-template-rows: auto;
    grid-template-columns: 480px 1fr;
    grid-auto-columns: 1fr;
    display: grid
;
}
.work-waysleft h3{
    letter-spacing: -.031rem;
    margin-top: 0;
    margin-bottom: 1rem;
    font-size: 3rem;
    font-weight: 300;
    line-height: 1.15
}
.work-waysleft p{
    margin-bottom: 1.5rem;
    font-size: 1.125rem;
    line-height: 1.6;
    color: rgba(0, 0, 0, 0.699);
}
.heading{
    display: flex;
    justify-content:space-between ;
    grid-column-gap: 1.5rem;
    border-bottom: .063rem solid rgba(0, 0, 0, 0.214);
    cursor: pointer;
    grid-template-rows: auto;
    grid-template-columns: auto auto;
    grid-auto-columns: 1fr;
    width: 100%;
    padding-top: 2rem;
    padding-bottom: 2rem;
    transition: transform .3s;
    position: relative;
}
.heading h3{
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 1.15;
    letter-spacing: -.031rem;
}
.accordion-circle{
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(0, 0, 0, 0.215);
    border-radius: 100%;
}
span{
    color: #EF4136;
}
.para{
    display: none;
}
.branding{
    margin: 20vh 6vw;
    display: flex;
    flex-direction: column;
    position: relative;
}
.uppersec{
    grid-column-gap: 4rem;
    grid-template-rows: auto;
    grid-template-columns: 1fr;
    grid-auto-columns: 1fr;
    grid-auto-flow: column;
    margin-bottom: 4rem;
    display: grid;
}
.leftB h3{
    letter-spacing: -.031rem;
    margin-top: 0;
    margin-bottom: 1rem;
    font-size: 3rem;
    font-weight: 300;
    line-height: 1.15;
}
.leftB p{
    margin-bottom: 1.5rem;
    font-size: 1.125rem;
    line-height: 1.6;
    color: rgba(0, 0, 0, 0.699);
}
.rightB h4{
    letter-spacing: -.031rem;
    margin-top: 0;
    margin-bottom: 1rem;
    font-size: 2rem;
    font-weight: 300;
    line-height: 1.15;
}
.lowersec {
    grid-column-gap: 4rem;
    grid-template-rows: auto;
    grid-auto-columns: 1fr;
    grid-auto-flow: column;
    place-items: start stretch;
    width: 100%;
    display: grid;
}
.card-container{
    border-bottom: 1px solid black;
}
.card-container a{
    text-decoration: none;
    color: black;
}
.card1{
    overflow: hidden;
}
.card1 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.card2{
   
    overflow: hidden;
}

.card2 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.card-container h3{
    letter-spacing: -.031rem;
    margin-top: 0;
    margin-bottom: 1rem;
    font-size: 2.5rem;
    font-weight: 300;
    line-height: 1.15;
    padding: 4rem 0;
}
.pill-label-wrapper {
    grid-column-gap: .5rem;
    grid-row-gap: .5rem;
    flex-flow: wrap;
    margin-top: 2rem;
    display: flex;
}
.pill-label {
    border: 1px solid black;
    border-radius: 10rem;
    padding: 1.5rem;
    font-size: 1.125rem;
    display: inline-flex;
}
.web-Design{
    margin: 20vh 6vw;
    display: flex;
    flex-direction: column;
    position: relative;
}
.uppersecWD{
    grid-column-gap: 4rem;
    grid-template-rows: auto;
    grid-template-columns: 1fr;
    grid-auto-columns: 1fr;
    grid-auto-flow: column;
    margin-bottom: 4rem;
    display: grid;
}
.leftWD h3{
    letter-spacing: -.031rem;
    margin-top: 0;
    margin-bottom: 1rem;
    font-size: 3rem;
    font-weight: 300;
    line-height: 1.15;
}
.leftWD p{
    margin-bottom: 1.5rem;
    font-size: 1.125rem;
    line-height: 1.6;
    color: rgba(0, 0, 0, 0.699);
}
.rightWD h4{
    letter-spacing: -.031rem;
    margin-top: 0;
    margin-bottom: 1rem;
    font-size: 2rem;
    font-weight: 300;
    line-height: 1.15;
}
.lowersecWD {
    grid-column-gap: 4rem;
    grid-template-rows: auto;
    grid-auto-columns: 1fr;
    grid-auto-flow: column;
    place-items: start stretch;
    width: 100%;
    display: grid;
}
.card-container a{
    text-decoration: none;
    color: black;
}
.card3{
    overflow: hidden;
}
.card3 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.card4{
   
    overflow: hidden;
}

.card4 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.Digital-Marketing{
    margin: 20vh 6vw;
    display: flex;
    flex-direction: column;
    position: relative;
}
.uppersecDM{
    grid-column-gap: 4rem;
    grid-template-rows: auto;
    grid-template-columns: 1fr;
    grid-auto-columns: 1fr;
    grid-auto-flow: column;
    margin-bottom: 4rem;
    display: grid;
}
.leftDM h3{
    letter-spacing: -.031rem;
    margin-top: 0;
    margin-bottom: 1rem;
    font-size: 3rem;
    font-weight: 300;
    line-height: 1.15;
}
.leftDM p{
    margin-bottom: 1.5rem;
    font-size: 1.125rem;
    line-height: 1.6;
    color: rgba(0, 0, 0, 0.699);
}
.rightDM h4{
    letter-spacing: -.031rem;
    margin-top: 0;
    margin-bottom: 1rem;
    font-size: 2rem;
    font-weight: 300;
    line-height: 1.15;
}
.lowersecDM {
    grid-column-gap: 4rem;
    grid-template-rows: auto;
    grid-auto-columns: 1fr;
    grid-auto-flow: column;
    place-items: start stretch;
    width: 100%;
    display: grid;
}
.card-container a{
    text-decoration: none;
    color: black;
}
.card5{
    overflow: hidden;
}
.card5 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.card6{
   
    overflow: hidden;
}

.card6 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media screen and (max-width:600px){
    .hero{
        margin-bottom: 0;
    }
    .hero h3{
        width: 100%;
        font-size: 1.75rem;
    }
    .hero h1{
        font-size: 5rem;
    }
    .Image{
      padding-left: 0; 
    }
    .work-ways {
        grid-column-gap: 3rem;
        grid-row-gap: 3rem;
        grid-template-columns: 1fr;
    }
    .work-waysleft h3{
        font-size: 2.25rem;
    }
    .work-waysleft p{
        margin-bottom: 1rem;
    }
    .branding{
        flex-direction: column;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
    .uppersec {
        grid-row-gap: 2rem;
        flex-direction: row;
        grid-template-columns: 1fr;
        grid-auto-columns: 1fr;
        grid-auto-flow: row;
    }

    .leftB h3{
        font-size: 2.25rem;
    }
    .uppersec h4{
        font-size: 1.75rem;
    }
    .lowersec {
        grid-column-gap: 1.5rem;
        flex-direction: column;
        grid-template-columns: 1fr;
        grid-auto-columns: 1fr;
        grid-auto-flow: column;
        align-items: stretch;
        width: 100%;
        display: flex;  
    }
    
    .card-container h3{
        font-size: 1.75rem;
        width: 100%;
        padding: 1.75rem 0;
    }
    .pill-label{
        padding: 1rem;
        font-size: .875rem;
    }
    .pill-label-wrapper{
        margin-top: 1.25rem;
    }
    .web-Design{
        flex-direction: column;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
    .uppersecWD {
        grid-row-gap: 2rem;
        flex-direction: row;
        grid-template-columns: 1fr;
        grid-auto-columns: 1fr;
        grid-auto-flow: row;
    }

    .leftWD h3{
        font-size: 2.25rem;
    }
    .uppersecWD h4{
        font-size: 1.75rem;
    }
    .lowersecWD {
        grid-column-gap: 1.5rem;
        flex-direction: column;
        grid-template-columns: 1fr;
        grid-auto-columns: 1fr;
        grid-auto-flow: column;
        align-items: stretch;
        width: 100%;
        display: flex;  
    }
    
    
    
    .Digital-Marketing{
        flex-direction: column;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
    .uppersecDM {
        grid-row-gap: 2rem;
        flex-direction: row;
        grid-template-columns: 1fr;
        grid-auto-columns: 1fr;
        grid-auto-flow: row;
    }

    .leftDM h3{
        font-size: 2.25rem;
    }
    .uppersecDM h4{
        font-size: 1.75rem;
    }
    .lowersecDM {
        grid-column-gap: 1.5rem;
        flex-direction: column;
        grid-template-columns: 1fr;
        grid-auto-columns: 1fr;
        grid-auto-flow: column;
        align-items: stretch;
        width: 100%;
        display: flex;  
    }
}
